.container {
    display: flex;
    flex-direction: column-reverse;
    width:80%;
    margin-left:10%;
    
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    margin: auto;
    padding: 5px;
    height:30%;
    border: 1px solid;
}

#result {
    background-color: #f2f7f4;
    width:100%;
    text-align: right;
    height:30%;
}



